#container {
    min-height: 200px;
}
.questions-bar{
    margin-top: -20px;
    padding:40px 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.questions-list{
    margin-bottom: 20px;
}
.questions-user{
    text-align: center;
    padding-top: 20px;
}
.question_title_bar{
    padding: 20px 0;
    background: #fff;
    margin-bottom: 20px;
    margin-top: -30px;
}
.question_title_bar .question-topics{
    margin-bottom: 20px;
}
.question_title_bar .question-topics .label {
    background: 0 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    text-align: center;
    border: 1px solid #F3F3F3;
    color: #808080;
    margin: 6px 6px 0 0;
    border-radius: 3px;
    font-size: 12px;
}
.question_title_bar .question-topics .label:hover{
    border:1px solid #1abc9c;color: #1abc9c;
}
.question_title_bar .question-statics{
    text-align: center;
    padding-top: 10px;
}
.question_title_bar .edit-question{
    color: #3498DB;
}
.question_title_bar .delete-question{
    color: #E74C3C;
}
.question-author{
    background: #fff;
    width: 100%;
    padding: 15px;
}
.question-author .question-author-name{
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin:0 0 20px 0;
    padding: 4px 0;
    border-bottom: 1px solid #ebedef;
}
.question-author .author-statics{
    width: 100%;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-top: 20px;
}
.question-author .author-statics p {
    width: 33.33%;
}
.question-author .author-statics p span {
    width: 100%;
    display: block;
}